
.transaction p{
    color: rgba(0, 0, 0, 0.491);
}

.transaction {
  padding: 6.5rem 1.5rem;
}

.txn-history{
  border: 1px solid rgba(128, 128, 128, 0.189);
  height: 10rem;
  padding: 0.8rem 1rem;
  border-radius: 10px;
}

.txnn {
  margin-bottom: 1.2rem;
}

.txnn h1 {
  font-size: 1.8rem;
  font-weight: 600;
}