@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #b24040;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}

.container{
   align-items: baseline;
  justify-content: start;
  width: 100%;
  display: flex;
}